body, html {
    margin: 0;
    font-family: sans-serif;
    font-size: 18px;
    color: #000;
    line-height: 1.2;
    font-weight: unset;
    background: -webkit-linear-gradient(45deg, #68CBD5, #C79C83);
    background: -o-linear-gradient(45deg, #68CBD5, #C79C83);
    background: -moz-linear-gradient(45deg, #68CBD5, #C79C83);
    background: linear-gradient(45deg, #68CBD5, #C79C83);
}

.content {
    margin: 0 auto;
}

h1, h2, h4 {
    text-align: center;
}

table, td, th {
    border-spacing: 1;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}

tr{
    background-color: #D07C4B;
}

.dashboard_table{
    width: 49%;
    height: 30vh;
    border-spacing: 20;
    background: linear-gradient(-45deg, #b54f78, #f6a4a5);
    
}

.dashboard_th{
    font-size: 40px;
    background-color: #57837b;
    border-color: #000;
}

.dashboard_td{
    font-size: 120px;
    background: linear-gradient(-45deg, #b54f78, #f6a4a5);
    border-spacing: 10;
}


table {

    width: 100%;
}

th {
    height: 10px;
}

td {
    text-align: center;
    padding: 5px;
}

hr{
    color: #fff;
    background-color: #fff;
    height: 1.5px;
}

.form {
    margin-top: 5px;
}

#content {
    width: 90%;
}

.calling {
    background-color: #FFFFFF;
    background-image: url(static/images/calling.gif);
}

.not_calling {
    background-color: #FFF;
}

.next {
    background-color: #fff;
}

.in_atention {
    background-color: #0a8194;
}


.gif_comunicacion{
    align-content: "center";
}

.izquierda{
    width: 90%;
}

.derecha{
    width: 100%;
    height: 20vh;
    align-content: 'center';
}

#pantalla-dividida{
    display: flex;
}

.container-table100 {

  width: 100%;
  min-height: 100vh;
  background: #c850c0;
  background: -webkit-linear-gradient(45deg, #68CBD5, #C79C83);
  background: -o-linear-gradient(45deg, #68CBD5, #C79C83);
  background: -moz-linear-gradient(45deg, #68CBD5, #C79C83);
  background: linear-gradient(45deg, #68CBD5, #C79C83);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}
