{% extends 'base.html' %}

    {% block head %}
        <script type="text/javascript">
            function actualizar(){location.reload(true);}
//Función para actualizar cada 5 segundos(5000 milisegundos)
            setInterval("actualizar()",5000);
        </script>
        <title>Turnos del día</title>
    {% endblock %}
    
    {% block body %} 
        

    	<section class="container-table100">
            <h2>LISTA DE ATENCIÓN - {{ organization }}</h2>
        	<div class="izquierda">
            	{% if turnos_webhook|length < 1 %}
                <h4></h4>
            	{% else %}
            	<h4></h4>
                <table>

                    <tr>
                        <th>Paciente</th>
                        <th>Profesional</th> 
                        <th>Especialidad</th>  
                        <th>Estado</th>  
                    </tr>
                        {% for appointment in turnos_webhook %}
                            {% if appointment.get('state') == 'calling'%}
                            <tr class='calling'>
                            <td> {{ appointment.get('patient') }}</td>
                            <td> {{ appointment.get('professional') }}</td>
                            <td> {{ appointment.get('specialty') }}</td>
                            <td> {{ 'Llamando' }}</td>      
                            {% elif appointment.get('state') == 'in_atention'%}
                            <tr class='in_atention'>
                            <td> {{ appointment.get('patient') }}</td>
                            <td> {{ appointment.get('professional') }}</td>
                            <td> {{ appointment.get('specialty') }}</td>    
                            <td> {{ 'En atención' }}</td>       
                            {% endif %}       
                                                      
                            </tr>
                    	{% endfor %}
                </table>
                    	<hr>
                    	
                <table>
                    	{% for appointment in turnos_webhook %}
                    		{% if appointment.get('state') == 'next'%}
                            <tr class='next'> 
                            <td> {{ appointment.get('patient') }}</td>
                            <td> {{ appointment.get('professional') }}</td>
                            <td> {{ appointment.get('specialty') }}</td>    
                            <td> {{ 'Siguiente' }}</td>      
                            {% endif %}
                            </tr> 
                    	{% endfor%}
                </table>
            	{% endif %}
        	</div>

        	<!--<div class="derecha">
        		<img src="{{url_for('static', filename='unicef.gif')}}" width="300"/>
        	</div>-->
   	    <div align="center">
        <h6>Desarrollado por GESPYTA para uso en GNUHealth - v0.2 (2021) - CopyLeft</h6>
        </div>
    	</section>

      
    {% endblock %}
    
