<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta hppt-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li> {{ message }} </li>            
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    
    {% block head %} {% endblock %}
</head>
<body>
    {% block body %} {% endblock %}
</body>
</html>
 
