<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/css/dashboard.css" />
        <script type="text/javascript">
            function actualizar(){location.reload(true);}
//Función para actualizar cada 5 minutos(300000 milisegundos)
            setInterval("actualizar()",300000);
        </script>
        <title>Panel de Información</title>
    </head>

    <body class="body">
            <header>
                <h1> Panel de Información {{organization}} </h1>
            </header>
            <section id="flex-container">
                <div class="item"> 
                    <img src="../static/images/appointment.svg">
                    <li class="big-text"> {{appointments_count}} </li>
                    <li class="text"> Turnos atendidos [HOY]</li>
                        <a href="dashboard_turnos" class="a">
                            <button class="button" type="button" >Panel de Turnos</button>
                        </a>
                </div>

                <div class="item"> 
                    <img src="../static/images/ambulatorio.svg">
                    <li class="big-text"> {{evaluations_count}} </li>
                    <li class="text"> At. profesionales [HOY]</li>
                        <a href="dashboard_ambulatorio.html" class="a">
                            <button class="button" type="button" >Panel de At. Ambulatorias</button>
                        </a>
                </div>
            
                <div class="item"> 
                    <img src="../static/images/medicament.svg">
                    <li class="big-text"> {{prescriptions_count}} </li>
                    <li class="text"> Recetas [HOY]</li>
                        <a href="dashboard_farmacia.html" class="a">
                            <button class="button" type="button" >Panel de Farmacia</button>
                        </a>
                </div>
            
                <div class="item"> 
                    <img src="../static/images/nursing.svg">
                    <li class="big-text"> {{nursing_ambulatory_care_count}} </li>
                    <li class="text"> At. de Enfermería [HOY]</li>
                        <a href="dashboard_enfermeria" class="a">
                            <button class="button" type="button" >Panel de Enfermería</button>
                        </a>
                </div>
                <div class="item"> 
                    <img src="../static/images/pregnancy.svg">
                    <li class="big-text"> {{prenatal_evaluations_count}} </li>
                    <li class="text"> At. Embarazadas [HOY]</li>
                        <a href="dashboard_ginecobstetricia.html" class="a">
                            <button class="button" type="button" >Panel de GinecObstetricia</button>
                        </a>
                </div>
                <div class="item"> 
                    <img src="../static/images/odontology.svg">
                    <li class="big-text"> {{odontology_treatments_count}} </li>
                    <li class="text"> At. Odontología [HOY]</li>
                        <a href="dashboard_odontologia.html" class="a">
                            <button class="button" type="button" >Panel de Odontología</button>
                        </a>
                </div>
                <div class="item"> 
                    <img src="../static/images/people.svg">
                    <li class="big-text"> - </li>
                    <li class="text"> Pacientes Nuevos [HOY]</li>
                        <a href="dashboard_poblacion.html" class="a">
                            <button class="button" type="button" >Panel de Población</button>
                        </a>
                </div>
                <div class="item"> 
                    <img src="../static/images/lab_icon.svg">
                    <li class="big-text"> {{lab_results_count}} </li>
                    <li class="text"> Laboratorios realizados [HOY]</li>
                        <a href="dashboard_laboratorio.html" class="a">
                            <button class="button" type="button" >Panel de Laboratorio</button>
                        </a>
                </div>
                <div class="item"> 
                    <img src="../static/images/imaging_icon.svg">
                    <li class="big-text"> {{imaging_results_count}} </li>
                    <li class="text"> RX realizadas [HOY]</li>
                        <a href="dashboard_imagenes.html" class="a">
                            <button class="button" type="button" >Panel de Imagenes</button>
                        </a>
                </div>
            </section>
            <section id="flex-important">
                <div class="important"> 
                    <img class="important-image" src="../static/images/covid1.svg">
                    <div class="important-text">
                    	<li class="big-big-text"> {{active_cases}} </li>
                    	<li class="text"> Nuevos casos [HOY]</li>
                	</div>
                	<div class="important-text">
                    	<li class="big-big-text"> {{follow_cases}}  </li>
                    	<li class="text"> Contactos de seguimiento [HOY]</li>
                    </div>
                    <div class="important-text">
                    	<li class="big-big-text"> {{total_cases}}  </li>
                    	<li class="text"> Casos Covid-19 [TOTAL]</li>
                    </div>
                    <div class="important-text">
                    	<li class="big-big-text"> {{total_follow}} </li>
                    	<li class="text"> Contactos de seguimiento [TOTAL]</li>
                    </div>
                        <a href="/dashboard_covid" class="a">
                            <button class="button" type="button" >Panel Covid-19</button>
                        </a>
                </div>
            </section>
        <footer class="footer"> 
            <p>Desarrollado por el GESPyTA de la FI-UNER para uso en GNUHealth - v0.2 (2021) - copyleft</p>
            <a href="http://ingenieria.uner.edu.ar/grupos/salud_publica/" target="_blank" class="a">¿Quienes somos?</a>
            <a href="https://gitlab.com/gnuhealth_fiuner" target="_blank" class="a">Nuestro Repositorio</a>
            <a href="mailto=saludpublica@ingenieria.uner.edu.ar" target="_blank" class="a">Contacto</a>
        </footer>
    
    </body>   

</html>
