<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/dashboard.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="{{url_for('static', filename='js/dashboard_appointment.js')}}"></script>
</head>

<body>
        <header>
                <h1> Panel de Información Turnos {{organization}} </h1>
        </header>
            <div class="container">
                <div id="graphic-indicator">
                    <div class="graphic">
                        <canvas id="ToalAppointmentsSex"> </canvas>
                    </div>
                    <div class="indicator">
                        <p> Total de turnos<p>
                        <p class="big-number"> {{total_appointments}} </p>
                        <h4> Período de tiempo </h4>
                        <p> {{time_total_follow}} </p>
                    </div>
                </div>
                <div id="graphic-indicator">
                    <div class="graphic">
                        <canvas id="ToalAppointmentsSex"> </canvas>
                    </div>
                    <div class="indicator">
                        <p> Total de turnos<p>
                        <p class="big-number"> {{total_appointments}} </p>
                        <h4> Período de tiempo </h4>
                        <p> {{time_total_follow}} </p>
                    </div>
                </div>
            </div>
        <footer class="footer"> 
                <p>Desarrollado por el GESPyTA de la FI-UNER para uso en GNUHealth - v0.2 (2021) - copyleft</p>
                <a href="http://ingenieria.uner.edu.ar/grupos/salud_publica/" target="_blank" class="a">¿Quienes somos?</a>
                <a href="https://gitlab.com/gnuhealth_fiuner" target="_blank" class="a">Nuestro Repositorio</a>
                <a href="mailto=saludpublica@ingenieria.uner.edu.ar" target="_blank" class="a">Contacto</a>
        </footer>
</body>

        
<script >

var data = JSON.parse('{{ data | tojson}}');

graph_radar(data['categories'], data['values_categories_men'], data['values_categories_woman'], "ToalAppointmentsSex", "title");

</script>

</html>
